<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <app-registercard></app-registercard>
    </div>
  
    <div class="container col-lg-6 col-md-12 col-sm-12">
      <input id="register_toggle" type="checkbox">
      <div class="slider">
        <form [formGroup]="registerForm1" class="form" (ngSubmit)="register()">
          <span class="title text-white">SIGNUP</span>
  
          <!-- Username input -->
          <div class="form_control">
            <input formControlName="username" id="Ruser" name="username" class="input" type="text" placeholder="Username">
          </div>
          <div class="valdiv1 ms-2" *ngIf="registerForm1.get('username')?.errors && registerForm1.get('username')?.touched">
            <p>Please enter a valid username. Username can only contain alphabets.<span>(e.g. johndoe)</span></p>
          </div>
  
          <!-- Email input -->
          <div class="form_control">
            <input formControlName="email" id="Remail" name="email" class="input" type="email" placeholder="Email">
          </div>
          <div class="valdiv1 ms-2" *ngIf="registerForm1.get('email')?.errors && registerForm1.get('email')?.touched">
            <p>Please enter a valid email address.<span>(e.g. johndoe@example.com)</span></p>
          </div>
  
          <!-- Password input -->
          <div class="form_control">
            <input formControlName="password" id="Rpassw" name="password" class="input" type="password" placeholder="Enter password">
          </div>
          <div class="valdiv1 ms-2" *ngIf="registerForm1.get('password')?.errors && registerForm1.get('password')?.touched">
            <p>Please enter your password. Special characters are not allowed.<span>(e.g. abc123)</span></p>
          </div>
  
          <!-- Signup button -->
          <button type="submit" class="fs-5">Signup</button>
  
          <p class="text-white">Already have an account? 
            <a class="text-info" style="text-decoration:none;" [routerLink]="['/login']">Login</a>
          </p>
        </form>
      </div>
    </div>
  </div>
  